@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section-bg {
  position: relative;
  overflow: hidden;
}

.hero-section-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 29.64%,
      rgba(0, 0, 0, 0.4) 84.51%
    ),
    var(--hero-bg, url("./assets/heroSectionBg.webp"));
  background-size: cover;
  background-position: center;
  will-change: transform;
  animation: slow-zoom 10s linear infinite alternate;
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.bg-process-section {
  background-image: linear-gradient(0deg, #ebebebe3, #ebebebe3),
    url("./assets/roof-repair.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-about-section {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./assets/roof-repair.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-zoom {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* adjust as needed */
}

.btn-zoom-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s;
}

.btn-zoom:hover .btn-zoom-content,
.btn-zoom:focus .btn-zoom-content {
  transform: scale(1.1);
}

.text-sm{
  font-size: 13px;
}
@media screen and (min-width:999px){
  .py-1 {
    padding-block: 11px;
}
.bg-gray-700.text-white.flex-1.md\:basis-\[60\%\].p-8.lg\:p-12.flex.flex-col.justify-center
 {
    padding-left: 150px;
}
.bg-\[\#9B1915\].text-white.p-2.w-70.rounded-lg.flex.items-center.gap-1 {
    width: 325px;
}
.text-center.lg\:text-left.ps-0.lg\:ps-10.flex-1.mx-auto.fade-in-up{
  padding-left:0px;
}
.w-6{
    width: calc(var(--spacing) * 12);
    height: 32px !important;
}
.w-80{
  width: 265px;
}
.text-red-150{
  font-size: 13px !important;
}
.w-50{
  width: calc(var(--spacing) * 10);
}
.py-8.white.relative {
    padding-bottom: 70px !important;
}
}
@media screen and (max-width:765px){
  .text-4xl{
    font-size: 30px;
  }
  .text-2xl{
    font-size: 23px;
  }
  .pt-25{
    padding-top:0px;
  }
  .h-8 {
    height: calc(var(--spacing) * 10);
}
h1.text-4xl.md\:text-5xl.font-bold.leading-tight.mt-2.cursor-pointer {
        font-size: 22px;
        text-align: left;
        margin-top:0px;
    }
.lg\:hidden.flex.flex-row.justify-center.items-center.gap-3.mt-10{
  display: none;
}
h1.text-2xl.md\:text-3xl.font-bold.leading-tight.mt-2.cursor-pointer {
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    margin-top:0px;
}
.bg-white\/10 {
    @supports (color: color-mix(in lab, red, red)) {
        background-color: 
 color-mix(in oklab, var(--color-white) 5%, #00000098);
    }
}
.hero-section-bg::before {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 29.64%,
      rgba(0, 0, 0, 0) 84.51%
    ),
    var(--hero-bg, url("./assets/heroSectionBg.webp"));
}
.bg-white\/10.backdrop-blur-sm.p-6.rounded-xl.inline-block{
padding: 5px;
border-radius: 5px;
}
.text-center.lg\:text-left.ps-0.lg\:ps-10.flex-1.mx-auto.fade-in-up {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
    gap: 2px;
}
button.cursor-pointer.btn-zoom.group.mt-6.px-6.py-3.bg-\[\#9f1313\].text-white.font-semibold.rounded.flex.items-center.gap-2.mx-auto.lg\:mx-0{
  margin-left:0px;
  margin-right:0px;
  margin-top:10px;
}
.flex.flex-col.md\:flex-col.lg\:flex-row.items-center.justify-center.lg\:justify-between.gap-6.h-full.w-full.text-center{
  gap:0px;
}
.absolute.-top-4.left-1\/2.-translate-x-1\/2.bg-\[\#9B1915\].text-white.w-8.h-8.flex.items-center.justify-center.rounded-full.text-sm.font-semibold {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
}

.w-60.h-60.flex.flex-col.items-center.justify-center.rounded-full.shadow-lg.px-4.py-6.transition-all.duration-300.bg-white.text-\[\#2f2933\] {
    padding: calc(var(--spacing) * 5);
    width: calc(var(--spacing) * 40);
    height: calc(var(--spacing) * 40);
}

.w-60.h-60.flex.flex-col.items-center.justify-center.rounded-full.shadow-lg.px-4.py-6.transition-all.duration-300.bg-\[\#2f2933\].text-white{
    padding: calc(var(--spacing) * 5);
    width: calc(var(--spacing) * 40);
    height: calc(var(--spacing) * 40);
}
.flex.flex-wrap.justify-center.gap-13.relative.z-10 {
    gap: calc(var(--spacing) * 8);
}
h4.font-bold.text-lg {
    font-size: 15px;
}
img.w-10.h-10.mb-2 {
    margin-bottom: 0px;
    margin-top: 4px;
    height: calc(var(--spacing) * 8);
}
p.text-sm {
    font-size: 12px;
}
.flex.items-start.gap-4.justify-center.lg\:justify-start {
    flex-wrap: wrap;
}
.p-8.lg\:ps-0.lg\:pe-6.space-y-8.text-center.lg\:text-left {
    padding-left: 0px;
    padding-right: 0px;
}
.grid.sm\:grid-cols-2.gap-6 {
    display: flex;
}
.bg-white\/10.backdrop-blur-sm.p-6.rounded-xl.mt-3.inline-block {
    margin-top: 0px;
}
.btn-zoom-content{
  font-size: 13px;
}
.relative.w-full.h-\[90vh\]{
  height: 40vh;
}
.w-6 {
    width: calc(var(--spacing) * 12);
}
.bg-\[\#9B1915\].text-white.p-2.w-70.rounded-lg.flex.items-center.gap-1{
  width: 320px !important;
  padding: 20px;
}
.text-red-150,
.text-red-100{
  font-size: 14px !important;
}
.flex.overflow-hidden {
    display: none;
}
.overflow-hidden.shadow-lg.h-full.lg\:min-h-\[550px\] {
    height: 40%;
}
.space-y-8.lg\:mt-20.mt-\[50rem\] {
    margin-top: 210px;
} 
.py-8.white.relative {
    padding-bottom: 70px !important;
    padding-top: 70px !important;
}
.relative.z-10.pt-24.w-full{
  padding-top:0px;
}
.flex-1.md\:basis-\[40\%\].relative.min-h-\[400px\].lg\:min-h-\[600px\] {
    display: none;
}

.max-w-6xl.w-full.mx-auto.px-6.grid.lg\:grid-cols-2.gap-12.items-center,
.py-8.bg-\[\#F3F1F2\]{
  padding-top: 70px;
}
.w-50 {
    width: calc(var(--spacing) * 13);
}
.w-80{
  margin-left: 15px;
  width:320px;
  padding: 20px;
}
.w-full.relative.mt-25 {
    margin-top: 20px;
}
section.relative.w-full.h-\[90vh\].text-white.hero-section-bg{
  background-size: contain;
}
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out both;
  animation-delay: 0.4s;
}
